* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options{
    display: grid;
    margin: 5%;
}

.title{
    text-shadow: 2px 2px #ffe54c;
    font-size: 56px;
}

.option {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  margin: 3%;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
}

.option:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.option:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
    .option {
    padding: 13px 50px 13px;
  }
}